span.red {
    color: red;
}
span.orange {
    color: orange;
}
span.yellow {
    color: yellow;
}
span.green {
    color: green;
}
span.blue {
    color: blue;
}
span.purple {
    color: purple;
}
span.gray {
    color: gray
}